<div class="container portfolio-container">
  <h1>Create New Portfolio Item</h1>

  <%= render 'form', portfolio_item: @portfolio_item %>

  <p><%= link_to "Back to Index", portfolios_path %></p>
</div>
