<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>More here</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.facebook.com/the.big.ordovsky"><%= fa_icon "facebook-square"%></a></li>
      <li><a href="https://www.instagram.com/the_big_ordovsky/"><%= fa_icon "instagram"%></a></li>
      <li><a href="https://github.com/lord-of-yoghurt"><%= fa_icon "github"%></a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->
