<h1>Hi, I'm David.</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "ordovskiy-107-re-2560.jpg", width: 350, alt: 'profile image'%>
  </div>

  <div class="col-md-8">
    <p>Bio coming soon :) </p>
  </div>
</div>
