<h1>Contact me</h1>

<p><i class="fa fa-envelope" aria-hidden="true"></i> <%= mail_to 'david.ordovsky@gmail.com', 'My email' %></p>
<p><i class="fa fa-mobile" aria-hidden="true"></i> +1 (646) 696-1640</p>
