<div class="inner cover">
  <h1 class="cover-heading">Oh hai.</h1>
  <p class="lead">Thank you for visiting this page dedicated to my software development practices. It is still under construction, but I will be updating the content as it comes along.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
