<div class="inner cover">
  <h1 class="cover-heading">What's new in the tech world</h1>
  <div class="row">
    <% @tweets.each do |t| %>
      <div class="col-md-6">
        <div class="tech-news">
          <div class="card">
            <%= parse_tweet(t) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
